In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

df = pd.read_excel("D:\File_Analisa_Python\IAM.xlsx")

df.head()

,POSISI,RO,CABANG,OUTLET,NAMACAB,JUMLAH,TIPE,PROSES_BISNIS,ANOMALI
0,2023-06-30,RO 1,35.0,35.0,CIREBON,10,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
1,2023-06-30,RO 1,36.0,36.0,PURWAKARTA,15,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
2,2023-06-30,RO 1,48.0,48.0,DEPOK,12,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
3,2023-06-30,RO 1,379.0,379.0,HARAPAN INDAH,5,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
4,2023-06-30,RO 2,1.0,1.0,JAKARTA KUNINGAN,16,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo

In [11]:
df[['POSISI','ANOMALI']].duplicated

<bound method DataFrame.duplicated of           POSISI                                     ANOMALI
0     2023-06-30          Adv Payment Lebih Besar Dari Saldo
1     2023-06-30          Adv Payment Lebih Besar Dari Saldo
2     2023-06-30          Adv Payment Lebih Besar Dari Saldo
3     2023-06-30          Adv Payment Lebih Besar Dari Saldo
4     2023-06-30          Adv Payment Lebih Besar Dari Saldo
...          ...                                         ...
60591 2023-06-30  Data Pencairan Depo Lembaga diatas 500Juta
60592 2023-06-30  Data Pencairan Depo Lembaga diatas 500Juta
60593 2023-06-30  Data Pencairan Depo Lembaga diatas 500Juta
60594 2023-06-30  Data Pencairan Depo Lembaga diatas 500Juta
60595 2023-06-30  Data Pencairan Depo Lembaga diatas 500Juta

[60596 rows x 2 columns]>