In [82]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

df = pd.read_excel("D:\File_Analisa_Python\IAM.xlsx")

df.head()

,POSISI,RO,CABANG,OUTLET,NAMACAB,JUMLAH,TIPE,PROSES_BISNIS,ANOMALI
0,2023-06-30,RO 1,35.0,35.0,CIREBON,10,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
1,2023-06-30,RO 1,36.0,36.0,PURWAKARTA,15,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
2,2023-06-30,RO 1,48.0,48.0,DEPOK,12,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
3,2023-06-30,RO 1,379.0,379.0,HARAPAN INDAH,5,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo
4,2023-06-30,RO 2,1.0,1.0,JAKARTA KUNINGAN,16,KONVEN,PERKREDITAN,Adv Payment Lebih Besar Dari Saldo

In [116]:
df.groupby(['POSISI', 'RO','CABANG', 'PROSES_BISNIS']).count()

                                               OUTLET  NAMACAB  JUMLAH  TIPE  \
POSISI     RO    CABANG PROSES_BISNIS
2022-08-31 PUSAT 999.0  MANAJEMEN OPERASIONAL       3        3       3     3
                        PERKREDITAN                 1        1       1     1
                        SIMPANAN PIHAK KETIGA       3        3       3     3
           RO 1  6.0    JASA PERBANKAN              3        3       3     3
                        MANAJEMEN OPERASIONAL      31       31      31    31
...                                               ...      ...     ...   ...
2023-06-30 RO 6  153.0  SIMPANAN PIHAK KETIGA      10       10      10    10
                 182.0  JASA PERBANKAN              4        4       4     4
                        MANAJEMEN OPERASIONAL      46       46      46    46
                        PERKREDITAN                18       18      18    18
                        SIMPANAN PIHAK KETIGA      23       23      23    23

                                               ANOMALI
POSISI     RO    CABANG PROSES_BISNIS
2022-08-31 PUSAT 999.0  MANAJEMEN OPERASIONAL        3
                        PERKREDITAN                  1
                        SIMPANAN PIHAK KETIGA        3
           RO 1  6.0    JASA PERBANKAN               3
                        MANAJEMEN OPERASIONAL       31
...                                                ...
2023-06-30 RO 6  153.0  SIMPANAN PIHAK KETIGA       10
                 182.0  JASA PERBANKAN               4
                        MANAJEMEN OPERASIONAL       46
                        PERKREDITAN                 18
                        SIMPANAN PIHAK KETIGA       23

[3092 rows x 5 columns]