In [2]:
import math
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime
from scipy import stats

In [5]:
df = pd.read_csv('D:\Download Data\SCV_MENTAH.csv', sep='|', on_bad_lines='skip')

C:\Users\Data Analytic\AppData\Local\Temp\ipykernel_22692\2588357775.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\Download Data\SCV_MENTAH.csv', sep='|', on_bad_lines='skip')

In [12]:
df[df['TOTAL_PENGHASILAN'].isna()]

,CONTROLLING_ID,BRANCH_NAME,BIRTHDAY_CHAR,TOTAL_PENGHASILAN,GROUP_ID,PRODUCT_ID,CIF_OPEN_DATE_CHAR,USIA_DECIMAL,SYSTEM_DATE,PRODUCT_DESC,...,CLASS_DESCRIPTION,MARITAL_STATUS,HUB_BANK,HUB_KELUARGA,BRANCH_OPEN_CIF_NAME,ID_EXPIRE_DATE,CUSTOMER_PEMILIK_DESC,HUB_BANK_ID,HUB_KELUARGA_ID,PRODUCT_OWNER
0,179,BANTAR GEBANG,01-01-1900,NaN,345,A2,-,0,2023-08-02,Dep 3 Bln Per Pdd,...,NaN,KOSONG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RFSD
1,38,MAYANG,01-01-1900,NaN,345,A1,-,0,2023-08-02,Dep 1 Bln Per Pdd,...,NaN,KOSONG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RFSD
3,176,PANTAI INDAH KAPUK,01-01-1900,NaN,345,A2,-,0,2023-08-02,Dep 3 Bln Per Pdd,...,NaN,KOSONG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RFSD
1475,81,MAGELANG,01-01-1900,NaN,216,TJ,-,0,2023-08-02,Tab BTN eBatara Pos,...,NaN,KOSONG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RFSD
1476,15,BOGOR,01-01-1900,NaN,216,TX,-,0,2023-08-02,Tab e'btr Pos Dana,...,NaN,KOSONG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RFSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27428406,Rt/rw : 008/004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27428407,Kel/desa 0,NaN,0,NaN,NaN,NaN,31,IDR,3101610027425,Z216559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27428408,Rt/rw : 008/004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27428409,Kel/desa 0,NaN,0,NaN,NaN,NaN,0,NaN,ID,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27450032,(19201950 row(s) affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN