In [93]:
import math
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
from scipy.stats import uniform

from datetime import datetime



class color:      # untuk warna teks penjelasan grafik
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [94]:
df = pd.read_csv('D:\File_Analisa_Python/nycrollingsales.csv') #insert file from local drive


## Change anomaly values
df['SALE PRICE'] = df['SALE PRICE'].replace(' -  ',0).astype(float) #replace - (dash) to zero and convert it to float

df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])   #convert SALE DATE to Datetime

df = df.rename(columns={'Unnamed: 0': 'KEY'})   #rename column Unnamed 0 to KEY

df['YEAR BUILT'] = df['YEAR BUILT'].replace(0,1900)
df['YEAR BUILT'] = df['YEAR BUILT'].replace(1111,1900)          #change year built from 0 to 1900 and 1111 to 1900

df['EASE-MENT'] = df['EASE-MENT'].replace(' ','-')          #fill column Ease-ment with - (dash)

df.describe()

,KEY,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,8.454800e+04
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1945.965227,1.657485,1.056623e+06
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,35.537798,0.819341,1.038794e+07
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1680.000000,1.000000,0.000000e+00
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000,0.000000e+00
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000,4.150000e+05
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,8.300000e+05
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,2.210000e+09

In [128]:
df[df['BUILDING CLASS AT PRESENT'] != df['BUILDING CLASS AT TIME OF SALE']] # Cek Jenis Bangunan yang dijual berbeda dari Jenis Awalnya

df_sale = df[df['SALE PRICE'] != 0]             #exclude bangunan yang diwariskan / balik nama (harga jual = 0 dolar)

mean_sale = df_sale['SALE PRICE'].mean()          #Menghitung Rata - rata
median_sale = df_sale['SALE PRICE'].median()        #Menghitung Nilai tengah
mode_sale = statistics.mode(df_sale['SALE PRICE'])  #Menghitung Modus
hmean_sale = statistics.harmonic_mean(df_sale['SALE PRICE'])

print('Rata - rata harga jual bangunan tanpa memasukkan jual beli balik nama / waris bangunan di NYC sebesar',round(mean_sale,2),'dolar')
print('')
print('dan untuk nilai tengah dari harga jual rumah tersebut sebesar',median_sale,'dolar')
print('')
print('sedangkan untuk harga rumah paling banyak dijual seharga',mode_sale, 'dolar dimana harga tersebut sangat aneh dan tidak masuk akal')

print('')
df_sale[df_sale['SALE PRICE'] <= 100].count()       #cek harga jual bangunan dibawah 100 dolar
print(color.RED+'setelah dicek lebih lanjut, ternyata terdapat 1.002 data dimana harga jual bangunan dibawah 100 dolar dan merupakan harga yang tidak wajar'+color.END)
print('''dari hasil diatas, pengujian nilai rata - rata perlu menggunakan perhitungan Harmonic Mean dimana terdapat data outliers yang besar sedangkan data modus hanya 10 dolar
sehingga didapatkan perhitungan Harmonic Mean (Rata - rata harmonic) yaitu''',round(hmean_sale,2),'dolar')

Rata - rata harga jual bangunan tanpa memasukkan jual beli balik nama / waris bangunan di NYC sebesar 1494927.31 dolar

dan untuk nilai tengah dari harga jual rumah tersebut sebesar 625500.0 dolar

sedangkan untuk harga rumah paling banyak dijual seharga 10.0 dolar dimana harga tersebut sangat aneh dan tidak masuk akal

setelah dicek lebih lanjut, ternyata terdapat 1.002 data dimana harga jual bangunan dibawah 100 dolar dan merupakan harga yang tidak wajar
dari hasil diatas, pengujian nilai rata - rata perlu menggunakan perhitungan Harmonic Mean dimana terdapat data outliers yang besar sedangkan data modus hanya 10 dolar
sehingga didapatkan perhitungan Harmonic Mean (Rata - rata harmonic) yaitu 278.37 dolar

In [112]:
df['YEAR BUILT'].max()
df['YEAR BUILT'].min()

range = df['YEAR BUILT'].max() - df['YEAR BUILT'].min()

print('Rentang waktu dibangun bangunan pada data ini yaitu',range,'tahun')

Rentang waktu dibangun bangunan pada data ini yaitu 337 tahun