In [2]:
import math
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime
from scipy import stats

In [4]:
df = pd.read_csv('D:\File_Analisa_Python/nycrollingsales.csv') #insert file from local drive


## Change anomaly values
df['SALE PRICE'] = df['SALE PRICE'].replace(' -  ',0).astype(float) #replace - (dash) to zero and convert it to float

df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])   #convert SALE DATE to Datetime

df = df.rename(columns={'Unnamed: 0': 'KEY'})   #rename column Unnamed 0 to KEY

df['YEAR BUILT'] = df['YEAR BUILT'].replace(0,1900)
df['YEAR BUILT'] = df['YEAR BUILT'].replace(1111,1900)          #change year built from 0 to 1900 and 1111 to 1900

df['EASE-MENT'] = df['EASE-MENT'].replace(' ','-')          #fill column Ease-ment with - (dash)

df.describe()

,KEY,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,8.454800e+04
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1945.965227,1.657485,1.056623e+06
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,35.537798,0.819341,1.038794e+07
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1680.000000,1.000000,0.000000e+00
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000,0.000000e+00
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000,4.150000e+05
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,8.300000e+05
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,2.210000e+09

In [5]:
mean_nyc = df['SALE PRICE'].mean()
median_nyc = df['SALE PRICE'].median()
modus_nyc = statistics.mode(df['SALE PRICE'])

print('Rata - rata harga jual rumah di NYC adalah',mean_nyc,'dolar')
print('')
print('dan untuk nilai tengah dari harga jual rumah tersebut sebesar',median_nyc,'dolar')
print('')
print('sedangkan untuk harga rumah paling banyak dijual seharga',modus_nyc, 'dolar atau banyak orang tua yang mewariskan rumahnya kepada anak / keluarganya')

Rata - rata harga jual rumah di NYC adalah 1056622.9941453375 dolar

dan untuk nilai tengah dari harga jual rumah tersebut sebesar 415000.0 dolar

sedangkan untuk harga rumah paling banyak dijual seharga 0.0 dolar atau banyak orang tua yang mewariskan rumahnya kepada anak / keluarganya

In [6]:
df['YEAR BUILT'].max()

df['YEAR BUILT'].min()

range = df['YEAR BUILT'].max() - df['YEAR BUILT'].min()

print('Rentang waktu (tahun) list rumah pada data ini dibangun yaitu',range,'tahun')

Rentang waktu (tahun) list rumah pada data ini dibangun yaitu 337 tahun

In [30]:
df[df['BUILDING CLASS AT PRESENT'] != df['BUILDING CLASS AT TIME OF SALE']] # Cek Jenis Bangunan yang dijual berbeda dari Jenis Awalnya

,KEY,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
74,78,1,ALPHABET CITY,11A CONDO-RENTALS,,394,1602,-,,183-189 AVENUE B,...,0,0,0,-,-,1900,2,RR,8058923.0,2017-08-09
198,202,1,ALPHABET CITY,42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC,,394,1601,-,,183-189 AVENUE B,...,0,0,0,-,-,1900,4,RA,0.0,2017-08-09
573,577,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,,699,1306,-,,510 WEST 28TH STREET,...,0,0,0,-,-,1900,2,R4,7165843.0,2017-08-09
574,578,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,,699,1309,-,,510 WEST 28TH STREET,...,0,0,0,-,-,1900,2,R4,4937073.0,2017-08-02
575,579,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,,699,1311,-,,520 WEST 28TH STREET,...,0,0,0,-,-,1900,2,R4,6033271.0,2017-06-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84048,7914,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1475,13,-,A0,281 WILLOWBROOK ROAD,...,1,0,1,4150,900,1955,1,A2,545000.0,2016-09-01
84062,7928,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1508,52,-,A0,26 CANTERBURY AVENUE,...,1,0,1,5390,1040,1945,1,A2,514999.0,2016-09-19
84065,7931,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1508,203,-,A5,40 CAMBRIDGE AVENUE,...,1,0,1,2275,1292,1970,1,A9,419000.0,2016-10-27
84068,7934,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1525,64,-,A1,250 CAMBRIDGE AVENUE,...,1,0,1,6000,3079,1965,1,A3,710000.0,2016-10-14
84195,8061,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,735,164,-,B3,22 CARMEL AVENUE,...,2,0,2,4800,840,1950,1,A1,712673.0,2016-09-22

In [29]:
statistics.stdev(df['SALE PRICE'])
statistics.variance(df['SALE PRICE'])

107909296048288.38