In [135]:
import math
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime
from scipy import stats

In [136]:
df = pd.read_csv('D:\File_Analisa_Python/nycrollingsales.csv') #insert file from local drive

df['SALE PRICE'] = df['SALE PRICE'].replace(' -  ',0).astype(float) #replace - (stripe) to zero and convert it to float

df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])   #convert SALE DATE to Datetime

df = df.rename(columns={'Unnamed: 0': 'KEY'})   #rename column Unnamed 0 to KEY

df.describe()

,KEY,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,8.454800e+04
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485,1.056623e+06
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341,1.038794e+07
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000,0.000000e+00
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000,4.150000e+05
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,8.300000e+05
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,2.210000e+09

In [164]:
mean_nyc = df['SALE PRICE'].mean()
median_nyc = df['SALE PRICE'].median()
modus_nyc = statistics.mode(df['SALE PRICE'])

print('Rata - rata harga jual rumah di NYC adalah',mean_nyc,'dolar')
print('')
print('dan untuk nilai tengah dari harga jual rumah tersebut sebesar',median_nyc,'dolar')
print('')
print('sedangkan untuk harga rumah paling banyak dijual seharga',modus_nyc, 'dolar atau banyak orang tua yang mewariskan rumahnya kepada anak / keluarganya')

Rata - rata harga jual rumah di NYC adalah 1056622.9941453375 dolar

dan untuk nilai tengah dari harga jual rumah tersebut sebesar 415000.0 dolar

sedangkan untuk harga rumah paling banyak dijual seharga 0.0 dolar atau banyak orang tua yang mewariskan rumahnya kepada anak / keluarganya

In [173]:
df['SALE PRICE'].max()

df['SALE PRICE'].min()

range = df['SALE PRICE'].max() - df['SALE PRICE'].min()

print(range)

2210000000.0