In [59]:
import math
import statistics

import numpy as np
import scipy.stats
import pandas as pd

import matplotlib.pyplot as plt

from datetime import datetime

In [92]:
df = pd.read_csv('D:\File_Analisa_Python/nycrollingsales.csv') #insert file from local drive

df['SALE PRICE'] = df['SALE PRICE'].replace(' -  ',0).astype(float) #replace - (stripe) to zero and convert it to float

df['SALE DATE'] = pd.to_datetime(df['SALE DATE'])   #convert SALE DATE to Datetime

df = df.rename(columns={'Unnamed: 0': 'KEY'})   #rename column Unnamed 0 to KEY
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   KEY                             84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  float64
 21  SALE DATE                       84548 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(10), object(10)
memory usage: 14.2+ MB