In [ ]:
print("Selamat malam, selamat datang ke kelas Hacktiv8")

Selamat malam, selamat datang ke kelas Hacktiv8

In [1]:
print("tes pake Python")

tes pake Python

# Sesi 1 - Intro to Python
Di sesi ini kita akan mempelajari basic syntax python, termasuk:
- print
- data types
  - numerik: integer, float
  - text: string (di kutip "")
  - boolean (hanya true/false)
  - list
  - dictionary
- variable

In [ ]:
123
12
12354
3456

3456

karena python notebook hanya memperlihatkan data yang terakhir kita tulis di sebuah kotak, kita bisa pakai keyword "print" untuk memastikan data yang mau kelihatan, di tampilkan

In [ ]:
print("a")
print("b")
print(123)
print(3456)

a
b
123
3456

## Basic Data Types
tipe data yang berdiri sendiri, mendasar, primitif, simple

1. Integer, tipe data angka numerik yang tidak memiliki desimal
2. float, untuk angka yang memiliki desimal point, dinamakan sebagai "float" bukan integer. walaupun 0.0, desimal 0, tetap dianggap float.
3. string, tipe data non-numerik, termasuk alphabet, angka, simbol, spasi, dan lain-lain. asalkan datanya dikutip.
4. boolean, true atau false, dua pilihan saja

In [ ]:
123
1
0
-500
734

untuk cek tipe data, kita bisa gunakan keyword "type"

In [ ]:
type(123)

int

untuk lebih rapi, type nya kita bungkus dengan print

In [ ]:
print(type(123))

<class 'int'>

class adalah sebuah konsep dalam bahasa pemrograman, untuk sebuah tipe data.

kalau mau buat tipe data custom, kita bisa buat class baru. tapi di kelas data analysis ini tidak kita pelajari.

In [4]:
print(type(-156))
print(type(0))
print(type(123654968656546578461681313))
print(type(9999999999999999999999999999999))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

2. float, untuk angka yang memiliki desimal point, dinamakan sebagai "float" bukan integer. walaupun 0.0, desimal 0, tetap dianggap float.

In [ ]:
print(type(-156.8))
print(type(0.0))
print(type(123654968656546578461681313.235))
print(type(9999999999999999999999999999999.99999999999999))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

3. string, tipe data non-numerik, termasuk alphabet, angka, simbol, spasi, dan lain-lain. asalkan datanya dikutip.

In [ ]:
print(type("Hacktiv8"))
print(type(""))
print(type("aku mau belajar data analysis..!"))
print(type("123746512834765 !@#%(%$&^$)"))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

4. boolean, true atau false, dua pilihan saja

karena cara menyimpan data di sebuah bahasa pemrograman sangat kaku, semua data di klasifikasi menjadi true atau false.

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

nama class untuk tipe data kita: int, float, str, bool

bisa digunakan untuk meng-convert data dari satu tipe ke tipe lainnya

In [ ]:
# mau konversi 123.5 menjadi integer
int(123.5)

123

In [ ]:
# mau konversi string "501" menjadi integer
int("501")

501

In [ ]:
# print(int("123.5"))
# tidak bisa convert string "21.5" menjadi int, tapi bisa convert jadi float

untuk konversi float ke integer, tidak ada masalah

untuk konversi string ke integer, pastikan string nya berisi angka integer - string yang berisi angka float tidak bisa di konversi ke integer secara langsung, harus ke float dulu, baru ke integer

In [ ]:
# mau konversi jadi int
print(int(12.456))
print(int("345"))
print(int(True))
print(int(False))

12
345
1
0

In [ ]:
# mau konversi jadi float
print(float(12))
print(float("123.5"))
print(float(True))
print(float(False))

12.0
123.5
1.0
0.0

In [ ]:
# mau konversi jadi string
print(str(12))
print(str(12.5464))
print(str("123.5"))
print(str(True))
print(str(False))

12
12.5464
123.5
True
False

In [2]:
# mau konversi jadi boolean
print(bool(-12))
print(bool(12.5464))
print(bool("123.5"))
print(bool(True))
print(bool(False))

True
True
True
True
False

Ada konsep "falsy" dimana kita menandai beberapa data sebagai False. Data lain semuanya True.

Data yang dianggap False adalah:
- boolean False
- integer 0
- float 0.0
- string ""
- list []
- tuple ()
- dictionary {}

yang kosong kosong dianggap False

yang ada isinya dianggap True, walaupun misalkan angka negatif

In [5]:
print("Tes Halooooo")

Tes Halooooo