In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats
from scipy.stats import uniform

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('D:\File_Analisa_Python\ML_ProbabilityDefault.csv', sep='|')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036361 entries, 0 to 2036360
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   POSISI             object
 1   ACCTNO             float64
 2   ROA                float64
 3   CBAL               float64
 4   JML_PENGHASILAN    float64
 5   ORGAMT             float64
 6   JUMLAH_CICILAN     float64
 7   TENOR_BLN          float64
 8   MARITAL_ID         object
 9   GENDER_ID          float64
 10  KOL                float64
 11  DEVCODE            object
 12  ED_DESC            object
 13  LONDSC             object
 14  COL_DESC           object
 15  COL_VALUE          float64
 16  LUAS_BGN_AGUNAN    float64
 17  LUAS_TNH_BANGUNAN  float64
 18  KET_AGF            float64
 19  SEGMEN             float64
 20  STFSTATUS          object
 21  RASIO_RPC          float64
 22  RASIO_AGUNAN       float64
 23  TARGET             float64
dtypes: float64(17), object(7)
memory usage: 372.9+ MB

In [3]:
df
df = df.drop(index=2036360)
df.isna().sum()

POSISI                  0
ACCTNO                  0
ROA                     0
CBAL                    0
JML_PENGHASILAN         0
ORGAMT                  0
JUMLAH_CICILAN          0
TENOR_BLN               0
MARITAL_ID              0
GENDER_ID               0
KOL                     1
DEVCODE              2356
ED_DESC                 0
LONDSC                  0
COL_DESC                0
COL_VALUE               0
LUAS_BGN_AGUNAN         0
LUAS_TNH_BANGUNAN       0
KET_AGF                 0
SEGMEN                  0
STFSTATUS              13
RASIO_RPC               0
RASIO_AGUNAN            0
TARGET                  0
dtype: int64

In [4]:
df['KOL'] = df['KOL'].fillna(0)
df['DEVCODE'] = df['DEVCODE'].fillna('ZZZZ')
df['STFSTATUS'] = df['STFSTATUS'].fillna('TIDAKADA')
df.isna().sum()

POSISI                  0
ACCTNO                  0
ROA                     0
CBAL                    0
JML_PENGHASILAN         0
ORGAMT                  0
JUMLAH_CICILAN          0
TENOR_BLN               0
MARITAL_ID              0
GENDER_ID               0
KOL                     0
DEVCODE              2356
ED_DESC                 0
LONDSC                  0
COL_DESC                0
COL_VALUE               0
LUAS_BGN_AGUNAN         0
LUAS_TNH_BANGUNAN       0
KET_AGF                 0
SEGMEN                  0
STFSTATUS              13
RASIO_RPC               0
RASIO_AGUNAN            0
TARGET                  0
dtype: int64

In [17]:
df.isna().sum()

POSISI               0
ACCTNO               0
ROA                  0
CBAL                 0
JML_PENGHASILAN      0
ORGAMT               0
JUMLAH_CICILAN       0
TENOR_BLN            0
MARITAL_ID           0
GENDER_ID            0
KOL                  0
DEVCODE              0
ED_DESC              0
LONDSC               0
COL_DESC             0
COL_VALUE            0
LUAS_BGN_AGUNAN      0
LUAS_TNH_BANGUNAN    0
KET_AGF              0
SEGMEN               0
STFSTATUS            0
RASIO_RPC            0
RASIO_AGUNAN         0
TARGET               0
dtype: int64

# Encoding Label

In [28]:
df

,POSISI,ACCTNO,ROA,CBAL,JML_PENGHASILAN,ORGAMT,JUMLAH_CICILAN,TENOR_BLN,MARITAL_ID,GENDER_ID,...,COL_DESC,COL_VALUE,LUAS_BGN_AGUNAN,LUAS_TNH_BANGUNAN,KET_AGF,SEGMEN,STFSTATUS,RASIO_RPC,RASIO_AGUNAN,TARGET
0,"August 31, 2023",1.010100e+11,2.0,19900660.0,0.0,25000000.0,378600.0,73.0,B,0.0,...,TIDAKADA,0.0,0.0,69.0,0.0,1.0,TIDAKADA,0.000000,16.632000,2.0
1,"August 31, 2023",1.010100e+11,2.0,11332169.0,0.0,25500000.0,81600.0,97.0,B,0.0,...,TIDAKADA,0.0,0.0,50.0,0.0,1.0,TIDAKADA,0.000000,1.886275,2.0
2,"August 31, 2023",1.010100e+11,2.0,2357910.0,0.0,15000000.0,153700.0,41.0,B,1.0,...,TIDAKADA,0.0,0.0,36.0,0.0,1.0,TIDAKADA,0.000000,10.640000,2.0
3,"August 31, 2023",1.010100e+11,2.0,26385770.0,0.0,28500000.0,178500.0,134.0,B,0.0,...,TIDAKADA,0.0,0.0,90.0,0.0,1.0,TIDAKADA,0.000000,3.729474,2.0
4,"August 31, 2023",1.010101e+11,2.0,0.0,2763000.0,45000000.0,639800.0,180.0,A,1.0,...,TIDAKADA,0.0,36.0,82.0,1.0,1.0,TIDAKADA,23.155989,7.994044,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036355,"August 31, 2023",6.020102e+13,1.0,142975000.0,0.0,142975000.0,1081000.0,197.0,A,1.0,...,TANAH DAN BANGUNAN,150500000.0,36.0,70.0,1.0,0.0,H,0.000000,1.052632,1.0
2036356,"August 31, 2023",6.020102e+13,1.0,110975000.0,0.0,110975000.0,742100.0,240.0,B,1.0,...,TANAH DAN BANGUNAN,150500000.0,30.0,60.0,1.0,0.0,H,0.000000,1.356522,1.0
2036357,"August 31, 2023",6.020102e+13,1.0,142975000.0,0.0,142975000.0,1543000.0,120.0,A,1.0,...,TANAH DAN BANGUNAN,150500000.0,30.0,60.0,1.0,0.0,H,0.000000,1.053121,1.0
2036358,"August 31, 2023",6.020102e+13,1.0,133000000.0,0.0,133000000.0,1067800.0,180.0,A,1.0,...,TANAH DAN BANGUNAN,140000000.0,30.0,72.0,1.0,0.0,H,0.000000,1.052632,1.0
2036359,"August 31, 2023",6.020102e+13,1.0,144995000.0,0.0,144995000.0,969600.0,240.0,B,1.0,...,TANAH DAN BANGUNAN,150500000.0,30.0,60.0,1.0,0.0,H,0.000000,1.117280,1.0