In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats
from scipy.stats import uniform

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split

In [35]:
df = pd.read_csv('D:\File_Analisa_Python\ML_ProbabilityDefault.csv', sep='|')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036361 entries, 0 to 2036360
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   POSISI             object
 1   ACCTNO             float64
 2   ROA                float64
 3   CBAL               float64
 4   JML_PENGHASILAN    float64
 5   ORGAMT             float64
 6   JUMLAH_CICILAN     float64
 7   TENOR_BLN          float64
 8   MARITAL_ID         object
 9   GENDER_ID          float64
 10  KOL                float64
 11  DEVCODE            object
 12  ED_DESC            object
 13  LONDSC             object
 14  COL_DESC           object
 15  COL_VALUE          float64
 16  LUAS_BGN_AGUNAN    float64
 17  LUAS_TNH_BANGUNAN  float64
 18  KET_AGF            float64
 19  SEGMEN             float64
 20  STFSTATUS          object
 21  RASIO_RPC          float64
 22  RASIO_AGUNAN       float64
 23  TARGET             float64
dtypes: float64(17), object(7)
memory usage: 372.9+ MB

In [43]:
df
df = df.drop(index=2036360)
df.isna().sum()

POSISI               0
ACCTNO               0
ROA                  0
CBAL                 0
JML_PENGHASILAN      0
ORGAMT               0
JUMLAH_CICILAN       0
TENOR_BLN            0
MARITAL_ID           0
GENDER_ID            0
KOL                  0
DEVCODE              0
ED_DESC              0
LONDSC               0
COL_DESC             0
COL_VALUE            0
LUAS_BGN_AGUNAN      0
LUAS_TNH_BANGUNAN    0
KET_AGF              0
SEGMEN               0
STFSTATUS            0
RASIO_RPC            0
RASIO_AGUNAN         0
TARGET               0
dtype: int64

In [44]:
df['KOL'] = df['KOL'].fillna(0)
df['DEVCODE'] = df['DEVCODE'].fillna('ZZZZ')
df['STFSTATUS'] = df['STFSTATUS'].fillna('TIDAKADA')
df.isna().sum()

POSISI               0
ACCTNO               0
ROA                  0
CBAL                 0
JML_PENGHASILAN      0
ORGAMT               0
JUMLAH_CICILAN       0
TENOR_BLN            0
MARITAL_ID           0
GENDER_ID            0
KOL                  0
DEVCODE              0
ED_DESC              0
LONDSC               0
COL_DESC             0
COL_VALUE            0
LUAS_BGN_AGUNAN      0
LUAS_TNH_BANGUNAN    0
KET_AGF              0
SEGMEN               0
STFSTATUS            0
RASIO_RPC            0
RASIO_AGUNAN         0
TARGET               0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036360 entries, 0 to 2036359
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   POSISI             object
 1   ACCTNO             float64
 2   ROA                float64
 3   CBAL               float64
 4   JML_PENGHASILAN    float64
 5   ORGAMT             float64
 6   JUMLAH_CICILAN     float64
 7   TENOR_BLN          float64
 8   MARITAL_ID         object
 9   GENDER_ID          float64
 10  KOL                float64
 11  DEVCODE            object
 12  ED_DESC            object
 13  LONDSC             object
 14  COL_DESC           object
 15  COL_VALUE          float64
 16  LUAS_BGN_AGUNAN    float64
 17  LUAS_TNH_BANGUNAN  float64
 18  KET_AGF            float64
 19  SEGMEN             float64
 20  STFSTATUS          object
 21  RASIO_RPC          float64
 22  RASIO_AGUNAN       float64
 23  TARGET             float64
dtypes: float64(17), object(7)
memory usage: 372.9+ MB

# Encoding Label

In [67]:
df_copy = df.copy()

col_to_encode = ['MARITAL_ID', 'DEVCODE', 'ED_DESC','LONDSC','COL_DESC', 'STFSTATUS', 'TARGET']

for c in col_to_encode:
  le = LabelEncoder()
  df_copy[c] = le.fit_transform(df_copy[c])
  print(c, le.classes_)

df_copy.head()

MARITAL_ID ['A' 'B' 'C' 'D' 'E' 'F' 'G' 'Z']
DEVCODE ['0001' '0002' '0004' ... 'hkp2' 'kjcp' 'ss59']
ED_DESC ['DIPLOMA 1' 'DIPLOMA 2' 'DIPLOMA 3' 'Diploma' 'S1' 'S2' 'S3' 'SD' 'SLTA'
 'SMP' 'UNKNOWN']
LONDSC ['KREDIT KPR' 'KREDIT UMUM' 'KREDIT UMUM LAINNYA']
COL_DESC ['SIMPANAN' 'SK' 'TANAH DAN BANGUNAN' 'TIDAKADA']
STFSTATUS ['H' 'R' 'TIDAKADA']
TARGET [1. 2.]

,POSISI,ACCTNO,ROA,CBAL,JML_PENGHASILAN,ORGAMT,JUMLAH_CICILAN,TENOR_BLN,MARITAL_ID,GENDER_ID,...,COL_DESC,COL_VALUE,LUAS_BGN_AGUNAN,LUAS_TNH_BANGUNAN,KET_AGF,SEGMEN,STFSTATUS,RASIO_RPC,RASIO_AGUNAN,TARGET
0,"August 31, 2023",1.010100e+11,2.0,19900660.0,0.0,25000000.0,378600.0,73.0,1,0.0,...,3,0.0,0.0,69.0,0.0,1.0,2,0.000000,16.632000,1
1,"August 31, 2023",1.010100e+11,2.0,11332169.0,0.0,25500000.0,81600.0,97.0,1,0.0,...,3,0.0,0.0,50.0,0.0,1.0,2,0.000000,1.886275,1
2,"August 31, 2023",1.010100e+11,2.0,2357910.0,0.0,15000000.0,153700.0,41.0,1,1.0,...,3,0.0,0.0,36.0,0.0,1.0,2,0.000000,10.640000,1
3,"August 31, 2023",1.010100e+11,2.0,26385770.0,0.0,28500000.0,178500.0,134.0,1,0.0,...,3,0.0,0.0,90.0,0.0,1.0,2,0.000000,3.729474,1
4,"August 31, 2023",1.010101e+11,2.0,0.0,2763000.0,45000000.0,639800.0,180.0,0,1.0,...,3,0.0,36.0,82.0,1.0,1.0,2,23.155989,7.994044,1

In [68]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036360 entries, 0 to 2036359
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   POSISI             object
 1   ACCTNO             float64
 2   ROA                float64
 3   CBAL               float64
 4   JML_PENGHASILAN    float64
 5   ORGAMT             float64
 6   JUMLAH_CICILAN     float64
 7   TENOR_BLN          float64
 8   MARITAL_ID         int32
 9   GENDER_ID          float64
 10  KOL                float64
 11  DEVCODE            int32
 12  ED_DESC            int32
 13  LONDSC             int32
 14  COL_DESC           int32
 15  COL_VALUE          float64
 16  LUAS_BGN_AGUNAN    float64
 17  LUAS_TNH_BANGUNAN  float64
 18  KET_AGF            float64
 19  SEGMEN             float64
 20  STFSTATUS          int32
 21  RASIO_RPC          float64
 22  RASIO_AGUNAN       float64
 23  TARGET             int64
dtypes: float64(16), int32(6), int64(1), object(1)
memory usage: 326.3+ MB

In [73]:
target = df_copy['TARGET']

fitur = df_copy[['JML_PENGHASILAN','ORGAMT','JUMLAH_CICILAN','TENOR_BLN',
         'MARITAL_ID','GENDER_ID','COL_DESC','COL_VALUE','LUAS_BGN_AGUNAN',
         'LUAS_TNH_BANGUNAN','KET_AGF','SEGMEN','STFSTATUS','RASIO_RPC','RASIO_AGUNAN','KOL','ED_DESC','LONDSC']]

In [74]:
x_train, x_test, y_train, y_test = train_test_split(fitur, target, test_size=0.2, random_state=0)

In [75]:
model_digits_LR = LogisticRegression()
model_digits_LR.fit(x_train, y_train)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [76]:
y_pred = model_digits_LR.predict(x_test)
print(classification_report(y_test, y_pred))

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.93      1.00      0.97    379791
           1       0.00      0.00      0.00     27481

    accuracy                           0.93    407272
   macro avg       0.47      0.50      0.48    407272
weighted avg       0.87      0.93      0.90    407272

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))