In [1]:
import pyodbc 

conn = pyodbc.connect("Driver={SQL Server};"
                        "Server=VMWWEBACL;"
                        "Database=IAD_EDW;"
                        "uid=sa;pwd=BTNB@tara123")

cursor = conn.cursor()
cursor.execute('SELECT JDCBR, JDBR, JDNAME FROM JHDATA where JDCBR = JDBR')
for i in cursor:
    print(i)

In [30]:
import pyodbc 
import pandas as pd   

conn = pyodbc.connect("Driver={SQL Server};"
                        "Server=VMWWEBACL;"
                        "Database=IAD_EDW;"
                        "uid=sa;pwd=BTNB@tara123")

dframe = pd.read_sql_query('SELECT JDCBR, JDBR, JDNAME FROM JHDATA where JDCBR = JDBR', conn)
print(dframe)
print("")
glpar1 = pd.read_sql_query('Select gp1pdx,gp1pjd from GLPAR1', conn)
print(glpar1)
print("")

     JDCBR   JDBR                 JDNAME
0      1.0    1.0       JAKARTA KUNINGAN
1      2.0    2.0               SURABAYA
2      3.0    3.0                  MEDAN
3      4.0    4.0               MAKASSAR
4      5.0    5.0             YOGYAKARTA
..     ...    ...                    ...
98   909.0  909.0         CBC BALIKPAPAN
99   910.0  910.0           CBC SEMARANG
100  921.0  921.0        SALES CENTER KG
101  922.0  922.0       SALES CENTER BSD
102  923.0  923.0  SALES CENTER SURABAYA

[103 rows x 3 columns]

          gp1pdx     gp1pjd
0  July 31, 2023  2023212.0

C:\Users\Data Analytic\AppData\Local\Temp\ipykernel_6444\187500253.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dframe = pd.read_sql_query('SELECT JDCBR, JDBR, JDNAME FROM JHDATA where JDCBR = JDBR', conn)
C:\Users\Data Analytic\AppData\Local\Temp\ipykernel_6444\187500253.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  glpar1 = pd.read_sql_query('Select gp1pdx,gp1pjd from GLPAR1', conn)

In [6]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/ardhiraka/FSDS_Guidelines/master/p1/v3/w1/P1W1D1PM%20-%20Machine%20Learning%20Problem%20Framing.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19260 entries, 0 to 19259
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               19260 non-null  object
 1   Age                19260 non-null  int64
 2   Height             19260 non-null  int64
 3   Weight             19260 non-null  int64
 4   ValueEUR           19260 non-null  int64
 5   AttackingWorkRate  19260 non-null  object
 6   DefensiveWorkRate  19260 non-null  object
 7   PaceTotal          19260 non-null  int64
 8   ShootingTotal      19260 non-null  int64
 9   PassingTotal       19260 non-null  int64
 10  DribblingTotal     19260 non-null  int64
 11  DefendingTotal     19260 non-null  int64
 12  PhysicalityTotal   19260 non-null  int64
 13  Overall            19260 non-null  int64
dtypes: int64(11), object(3)
memory usage: 2.1+ MB

In [7]:
data

,Name,Age,Height,Weight,ValueEUR,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal,Overall
0,L. Messi,34,170,72,78000000,Medium,Low,85,92,91,95,34,65,93
1,R. Lewandowski,32,185,81,119500000,High,Medium,78,92,79,85,44,82,92
2,Cristiano Ronaldo,36,187,83,45000000,High,Low,87,94,80,87,34,75,91
3,K. Mbapp√©,22,182,73,194000000,High,Low,97,88,80,92,36,77,91
4,J. Oblak,28,188,87,112000000,Medium,Medium,87,92,78,90,52,90,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255,S. Black,19,180,75,100000,Medium,Medium,56,27,29,33,48,53,48
19256,Ma Zhen,23,196,85,50000,Medium,Medium,49,47,45,46,54,44,48
19257,Yang Haoyu,20,183,77,90000,Medium,Medium,57,26,29,28,51,56,48
19258,He Siwei,20,174,69,100000,Medium,Medium,61,25,32,32,49,51,48
19259,Chen Guoliang,22,186,70,70000,Medium,Medium,55,27,29,30,50,54,48