In [26]:
import pyodbc 

conn = pyodbc.connect("Driver={SQL Server};"
                        "Server=VMWWEBACL;"
                        "Database=IAD_EDW;"
                        "uid=sa;pwd=BTNB@tara123")

cursor = conn.cursor()
cursor.execute('SELECT JDCBR, JDBR, JDNAME FROM JHDATA where JDCBR = JDBR')
for i in cursor:
    print(i)

(Decimal('1'), Decimal('1'), 'JAKARTA KUNINGAN')
(Decimal('2'), Decimal('2'), 'SURABAYA')
(Decimal('3'), Decimal('3'), 'MEDAN')
(Decimal('4'), Decimal('4'), 'MAKASSAR')
(Decimal('5'), Decimal('5'), 'YOGYAKARTA')
(Decimal('6'), Decimal('6'), 'BANDUNG')
(Decimal('7'), Decimal('7'), 'DENPASAR')
(Decimal('8'), Decimal('8'), 'PALEMBANG')
(Decimal('9'), Decimal('9'), 'PADANG')
(Decimal('10'), Decimal('10'), 'BANJARMASIN')
(Decimal('11'), Decimal('11'), 'MANADO')
(Decimal('12'), Decimal('12'), 'MALANG')
(Decimal('13'), Decimal('13'), 'SEMARANG')
(Decimal('14'), Decimal('14'), 'JAKARTA HARMONI')
(Decimal('15'), Decimal('15'), 'BOGOR')
(Decimal('16'), Decimal('16'), 'BEKASI')
(Decimal('17'), Decimal('17'), 'JAYAPURA')
(Decimal('18'), Decimal('18'), 'BANDAR LAMPUNG')
(Decimal('19'), Decimal('19'), 'KENDARI')
(Decimal('20'), Decimal('20'), 'SAMARINDA')
(Decimal('21'), Decimal('21'), 'MATARAM')
(Decimal('22'), Decimal('22'), 'KUPANG')
(Decimal('24'), Decimal('24'), 'AMBON')
(Decimal('25'), Decimal('25'), 'PALU')
(Decimal('26'), Decimal('26'), 'PALANGKARAYA')
(Decimal('27'), Decimal('27'), 'BATAM')
(Decimal('28'), Decimal('28'), 'BANGKALAN')
(Decimal('29'), Decimal('29'), 'MADIUN')
(Decimal('30'), Decimal('30'), 'JEMBER')
(Decimal('31'), Decimal('31'), 'SOLO')
(Decimal('32'), Decimal('32'), 'PEKALONGAN')
(Decimal('33'), Decimal('33'), 'PURWOKERTO')
(Decimal('34'), Decimal('34'), 'TASIKMALAYA')
(Decimal('35'), Decimal('35'), 'CIREBON')
(Decimal('36'), Decimal('36'), 'PURWAKARTA')
(Decimal('37'), Decimal('37'), 'BENGKULU')
(Decimal('38'), Decimal('38'), 'JAMBI')
(Decimal('39'), Decimal('39'), 'PEKANBARU')
(Decimal('42'), Decimal('42'), 'PONTIANAK')
(Decimal('43'), Decimal('43'), 'TANGERANG')
(Decimal('44'), Decimal('44'), 'CIPUTAT')
(Decimal('45'), Decimal('45'), 'BALIKPAPAN')
(Decimal('46'), Decimal('46'), 'KEDIRI')
(Decimal('47'), Decimal('47'), 'CILEGON')
(Decimal('48'), Decimal('48'), 'DEPOK')
(Decimal('58'), Decimal('58'), 'MULYOSARI')
(Decimal('59'), Decimal('59'), 'MOJOKERTO')
(Decimal('61'), Decimal('61'), 'GRESIK')
(Decimal('62'), Decimal('62'), 'SIDOARJO')
(Decimal('69'), Decimal('69'), 'PEMATANG SIANTAR')
(Decimal('78'), Decimal('78'), 'PANAKUKANG')
(Decimal('81'), Decimal('81'), 'MAGELANG')
(Decimal('91'), Decimal('91'), 'CIMAHI')
(Decimal('108'), Decimal('108'), 'BANJARBARU')
(Decimal('110'), Decimal('110'), 'GORONTALO')
(Decimal('121'), Decimal('121'), 'KEBON JERUK')
(Decimal('128'), Decimal('128'), 'SUKABUMI')
(Decimal('130'), Decimal('130'), 'CIBINONG')
(Decimal('133'), Decimal('133'), 'CIKARANG')
(Decimal('148'), Decimal('148'), 'TANJUNG PINANG')
(Decimal('153'), Decimal('153'), 'TEGAL')
(Decimal('161'), Decimal('161'), 'KARAWACI')
(Decimal('162'), Decimal('162'), 'BUMI SERPONG DAMAI')
(Decimal('999'), Decimal('999'), 'KANTOR PUSAT')
(Decimal('0'), Decimal('0'), 'PT. BANK TABUNGAN NEGARA')
(Decimal('40'), Decimal('40'), 'BANDA ACEH')
(Decimal('176'), Decimal('176'), 'PLUIT')
(Decimal('179'), Decimal('179'), 'CIBUBUR')
(Decimal('181'), Decimal('181'), 'KARAWANG')
(Decimal('182'), Decimal('182'), 'KUDUS')
(Decimal('192'), Decimal('192'), 'PARE-PARE')
(Decimal('204'), Decimal('204'), 'BINTARO JAYA')
(Decimal('209'), Decimal('209'), 'PANGKALPINANG')
(Decimal('210'), Decimal('210'), 'TERNATE')
(Decimal('224'), Decimal('224'), 'BANYUWANGI')
(Decimal('211'), Decimal('211'), 'KELAPA GADING SQUARE')
(Decimal('241'), Decimal('241'), 'JAKARTA CAWANG')
(Decimal('244'), Decimal('244'), 'MAMUJU')
(Decimal('245'), Decimal('245'), 'TARAKAN')
(Decimal('258'), Decimal('258'), 'SINGARAJA')
(Decimal('379'), Decimal('379'), 'HARAPAN INDAH')
(Decimal('393'), Decimal('393'), 'SURABAYA BUKIT DARMO')
(Decimal('602'), Decimal('602'), 'BANDUNG TIMUR')
(Decimal('603'), Decimal('603'), 'JAKARTA MELAWAI')
(Decimal('951'), Decimal('951'), 'KANTOR WILAYAH I')
(Decimal('952'), Decimal('952'), 'KANTOR WILAYAH III')
(Decimal('953'), Decimal('953'), 'KANTOR WILAYAH IV')
(Decimal('954'), Decimal('954'), 'KANTOR WILAYAH V')
(Decimal('955'), Decimal('955'), 'KANTOR WILAYAH II')
(Decimal('956'), Decimal('956'), 'KANTOR WILAYAH IV')
(Decimal('901'), Decimal('901'), 'CBC BINTARO JAYA')
(Decimal('902'), Decimal('902'), 'CBC JAKARTA RAYA')
(Decimal('903'), Decimal('903'), 'CBC BEKASI')
(Decimal('904'), Decimal('904'), 'CBC BANDUNG')
(Decimal('905'), Decimal('905'), 'CBC SURABAYA')
(Decimal('906'), Decimal('906'), 'CBC MEDAN')
(Decimal('907'), Decimal('907'), 'CBC PALEMBANG')
(Decimal('908'), Decimal('908'), 'CBC MAKASSAR')
(Decimal('909'), Decimal('909'), 'CBC BALIKPAPAN')
(Decimal('910'), Decimal('910'), 'CBC SEMARANG')
(Decimal('921'), Decimal('921'), 'SALES CENTER KG')
(Decimal('922'), Decimal('922'), 'SALES CENTER BSD')
(Decimal('923'), Decimal('923'), 'SALES CENTER SURABAYA')

In [30]:
import pyodbc 
import pandas as pd   

conn = pyodbc.connect("Driver={SQL Server};"
                        "Server=VMWWEBACL;"
                        "Database=IAD_EDW;"
                        "uid=sa;pwd=BTNB@tara123")

dframe = pd.read_sql_query('SELECT JDCBR, JDBR, JDNAME FROM JHDATA where JDCBR = JDBR', conn)
print(dframe)
print("")
glpar1 = pd.read_sql_query('Select gp1pdx,gp1pjd from GLPAR1', conn)
print(glpar1)
print("")

     JDCBR   JDBR                 JDNAME
0      1.0    1.0       JAKARTA KUNINGAN
1      2.0    2.0               SURABAYA
2      3.0    3.0                  MEDAN
3      4.0    4.0               MAKASSAR
4      5.0    5.0             YOGYAKARTA
..     ...    ...                    ...
98   909.0  909.0         CBC BALIKPAPAN
99   910.0  910.0           CBC SEMARANG
100  921.0  921.0        SALES CENTER KG
101  922.0  922.0       SALES CENTER BSD
102  923.0  923.0  SALES CENTER SURABAYA

[103 rows x 3 columns]

          gp1pdx     gp1pjd
0  July 31, 2023  2023212.0

C:\Users\Data Analytic\AppData\Local\Temp\ipykernel_6444\187500253.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dframe = pd.read_sql_query('SELECT JDCBR, JDBR, JDNAME FROM JHDATA where JDCBR = JDBR', conn)
C:\Users\Data Analytic\AppData\Local\Temp\ipykernel_6444\187500253.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  glpar1 = pd.read_sql_query('Select gp1pdx,gp1pjd from GLPAR1', conn)